@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');


html {
  box-sizing: border-box;
}

body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  



header{
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 4.5%;
    background-color: #ffab00;
}

.logo{
    margin-inline: auto;
    font-family: "Charm", sans-serif;
    font-size: 24.5px;
    cursor: pointer;

    background-color: #ffab00;
}


.navbar {
  overflow: hidden;
  background-color: #23395d;
}

.navbar a {
  float: left;
  font-size: 13.5px;
  color: white;
  text-align: center;
  padding: 11px 13px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 13.5px;
  border: none;
  outline: none;
  color: white;
  padding: 11px 13px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:#ffab00;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #e27602;
  border-bottom: 3px solid red;
}

.subnav:hover .subnav-content {
  display: block;
}

.navbar a:hover,  .subnav:hover .subnavbtn {
  background-color: #e27602;
  border-bottom: 3px solid red;
}

.body{
    font-size: 25px;
    margin: 30px;
    background-color: #000000;
    color: ghostwhite;
    font-weight: 400 bold;
    opacity: 0.6;
}



.wrapper{
  margin-top: 60px;
  text-align: center;
}

.wrapper h1{
  font-family: "Charm", sans-serif;
  font-size: 48px;
  color:ghostwhite;
  background-color: #000000;
  opacity: 0.6;
  margin-bottom: 25px;
}

.wrapper  .our_team{
  display: flex;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper  .our_team  .team_member{
  width: 250px;
  margin: 5px;
  background:#ffab00;;
  padding:20px 10px;

}

.wrapper  .our_team  .team_member  .member_img{
  background: #23395d;
  max-width: 190px;
  width:100%;
  height:190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5pxs;
  cursor: pointer;
  position: relative;
}

.wrapper  .our_team  .team_member  .member_img img{
  width:100%;
  height:100%;
}

.wrapper  .our_team  .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0;
}

.wrapper  .our_team  .team_member span{
  font-size: 10px;
}

.wrapper  .our_team  .team_member p{
  margin-top:20px;
  font-size: 14px;
  line-height: 20px;
}

.wrapper  .our_team  .team_member .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 95%;
  height: 95%;
  background: rgba(0,0,0,0.65);
  border-radius: 50%;
  display: flex;
  justify-content:center;
  align-items:center;
  transform: scale(0);
  transition: all 0.5s ease;
}

.wrapper  .our_team  .team_member .social_media .item{
  margin:0 10px
}

.wrapper  .our_team  .team_member .social_media .item .fab{
  color: #8c7ae6;
  font-size: 20px;

}

.wrapper  .our_team  .team_member .member_img:hover .social_media{
  transform: scale(1);
}






a {
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  background: #23395d;
}

.footer .footer-about,
.footer .footer-contact{
  position: relative;
  margin-bottom: 45px;
  color: #999999;
}

.footer .footer-about h3,
.footer .footer-contact h3
{ 
  padding-left: 6px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #eeeeee;
}



.footer .footer-social {
padding-left: 6px;
position: relative;
margin-top: 20px;
}

.footer .fp{
  padding-left: 6px;
  font-size: 15px;}

.footer .footer-social a {
text-align: center;
color: #999999;
font-size: 20px;
width: 35px;
height: 35px;
}



.footer .footer-social a:hover {
color: #ffffff;
background: #0085ff;
border-color: #0085ff;
}



.footer .footer-contact p {
padding-left: 6px;
margin-bottom: 10px;
font-size: 14px;
color: #999999;
}

.footer .footer-contact i {
padding-left: 6px;
margin-right: 10px;
font-size: 14px;
color: #999999;
}

.footer .footer-contact a:last-child i {
margin: 0;
}

.footer .footer-contact a:hover i {
color: #0085ff;
}


.footer .copyright {
position: relative;
padding: 5px 0;
background: #000000;
}

.footer .copyright .copy-text p {
padding-left: 20px;
margin: 0;
font-size: 16px;
font-weight: 400;
color: #999999;
}

.footer .copyright .copy-text p a {
color: #0085ff;
text-decoration: none;
}

.footer .copyright .copy-text p a:hover {
color: #ff008c;
}










  














