@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  



header{
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 4.5%;
    background-color: #ffab00;
}

.logo{
    margin-inline: auto;
    font-family: "Charm", sans-serif;
    font-size: 24.5px;
    cursor: pointer;

    background-color: #ffab00;
}



.background{
  background: url(background.jpg) no-repeat center; 
  background-size: cover;
  height: 1000px;
  position: relative;
}

.navbar {
  overflow: hidden;
  background-color: #23395d;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a.active {
  border-bottom: 3px solid red;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #e27602;
  border-bottom: 3px solid red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffab00;
  min-width: 160px;
  box-shadow: #e27602;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e27602;
}

.dropdown:hover .dropdown-content {
  display: block;
}


a {
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  background: #23395d;
}

.footer .footer-about,
.footer .footer-contact{
  position: relative;
  margin-bottom: 45px;
  color: #999999;
}

.footer .footer-about h3,
.footer .footer-contact h3
{ 
  padding-left: 6px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #eeeeee;
}



.footer .footer-social {
padding-left: 6px;
position: relative;
margin-top: 20px;
}

.footer .fp{
  padding-left: 6px;
  font-size: 14px;}

.footer .footer-social a {
text-align: center;
color: #999999;
font-size: 20px;
width: 35px;
height: 35px;
}



.footer .footer-social a:hover {
color: #ffffff;
background: #0085ff;
border-color: #0085ff;
}



.footer .footer-contact p {
padding-left: 6px;
margin-bottom: 10px;
font-size: 14px;
color: #999999;
}

.footer .footer-contact i {
padding-left: 6px;
margin-right: 10px;
font-size: 14px;
color: #999999;
}

.footer .footer-contact a:last-child i {
margin: 0;
}

.footer .footer-contact a:hover i {
color: #0085ff;
}


.footer .copyright {
position: relative;
padding: 5px 0;
background: #000000;
}

.footer .copyright .copy-text p {
padding-left: 20px;
margin: 0;
font-size: 16px;
font-weight: 400;
color: #999999;
}

.footer .copyright .copy-text p a {
color: #0085ff;
text-decoration: none;
}

.footer .copyright .copy-text p a:hover {
color: #ff008c;
}










  


























